- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install base packages
  apt:
    name:
      - build-essential
      - vim
      - tmux
      - htop
      - tree
      - jq
      - unzip
      - zip
      - python3-pip
      - python3-venv
      - openjdk-17-jdk
      - docker.io
      - docker-compose-plugin
    state: present
