- name: Install docker
  apt:
    name:
      - docker.io
      - docker-compose-plugin
    state: present

- name: Enable docker
  systemd:
    name: docker
    enabled: true
    state: started

- name: Add user to docker group
  user:
    name: phil
    groups: docker
    append: yes
